
@{
    Layout = null;

}
@model List<WebApplication1.Models.GioHang>
@using WebApplication1.Models;


<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mua hàng</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="~/assest/min.css" type="text/css">

    <link rel="stylesheet" href="~/assest/FormCart/css/style.css" type="text/css">
</head>

<body>
    <h2 style="text-align:center; margin-top:20px;font-size:50px">Thanh toán</h2>
    @using (Html.BeginForm())
    {
        <section class="shoping-cart spad">

            <div class="container">
                <div class="row">

                    <div class="col-lg-12 mb-5">

                        <div class="shoping__cart__btns ">
                            <a href="@Url.Action("GioHang", "GioHang")" class="primary-btn cart-btn"><i class="fa-solid fa-backward-step"></i>  Trở lại giỏ hàng</a>

                            <a href="@Url.Action("Mua", "GioHang")" class="btn btn-success primary-btn cart-btn cart-btn-right"><i class="fa-solid fa-forward-step"></i>  Xác nhận mua</a>
                        </div>
                    </div>



                    <div class="col-lg-12">
                        <div class="shoping__cart__table">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="shoping__product">Sán phẩm</th>
                                        <th>Giá bán</th>
                                        <th>Số lượng</th>
                                        <th>Tổng tiền</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (4 > 5)
                                    {
                                        <h2 style="text-align:center;padding-bottom:100px">Chưa có sản phẩm nào trong giỏ hàng</h2>
                                    }
                                    else
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="shoping__cart__item">
                                                    <img style="height: 150px;width: 200px" src="~/ImgSanpham/@item.Anh" alt="">
                                                    <h5>@item.TenSP</h5>
                                                </td>
                                                <td class="shoping__cart__price">
                                                    @String.Format("{0:0,0}", @item.GiaBan)
                                                </td>
                                                <td class="shoping__cart__quantity">

                                                    @item.Soluong
                                                </td>
                                                <td class="shoping__cart__total">
                                                    @String.Format("{0:0,0}", @item.ThanhTien)
                                                </td>
                                                
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    }






    <script src="~/assest/font-awe.js"></script>

    @*<script src="~/assest/FormCart/JS/jquery-3.3.1.min.js"></script>
    <script src="~/assest/FormCart/JS/jquery.nice-select.min.js"></script>
    <script src="~/assest/FormCart/JS/jquery-ui.min.js"></script>
    <script src="~/assest/FormCart/JS/jquery.slicknav.js"></script>
    <script src="~/assest/FormCart/JS/owl.carousel.min.js"></script>
    <script src="~/assest/FormCart/JS/main.js"></script>*@


</body>
</html>
