@model IEnumerable<WebApplication1.Models.HangHoa>

@{
    ViewBag.Title = "DanhSachSanPham";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}


<link rel="stylesheet" href="~/assest/min.css" />

    @Html.ActionLink("Thêm 1 sản phẩm","AddSanPham", "SanPham", null, new { @class = "btn btn-success" , @style = "display:inline-block;margin:50px 300px 100px 50px" })

    @Html.ActionLink("Thêm bằng file Excel", "AddSPBangEXCEL", "SanPham", null, new { @class = "btn btn-success", @style = "display:inline-block;margin-top: -50px" })

<p>Hiện đang có @ViewBag.count sản phẩm</p>
<table id="thangCha"  class="table  table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHangHoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaThuongHieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaLoaiHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongCon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MaKhuyenMai)
        </th>*@
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHangHoa)
        </td>
        <td>

            <img style="width:100px;height:100px" src="@Url.Content("~/ImgSanpham/"+item.AnhSanPham)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaThuongHieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoaiHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongCon)
        </td>
        <td>
            @String.Format("{0:0,0}", item.GiaBan)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.MaKhuyenMai)
        </td>*@
        
        <td>

            
            <a href="@Url.Action("SuaSanPham", "Admin", new { id = item.MaHangHoa })"><i class="fa-solid fa-pencil"></i></a>

            <a href="@Url.Action("XoaSanPham", "Admin", new { id = item.MaHangHoa })"><i style="padding:10px" class="fa-solid fa-trash-can"></i></a>
        </td>
    </tr>
}

</table>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $(function() {
            $('#thangsearch').change(function (event) {
                event.preventDefault();
                var t = $("#thangCha");
                t.remove();

                var btn = $(this);
                var tuKhoa = btn.val();
               // var model = {};
                // model.masp = masp;


                $.ajax({
                    type: "POST",
                    url: "/Admin/DanhSachSanPham",//Controller
                    data: { tuKhoa: tuKhoa },//model,//JSON.stringify(model),//
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8", //   "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data)
                    {
                        //data.listSP[0].TenHangHoa;
                        alert(data.Message.TenHangHoa);
                        //alert(data.listSP[0].TenHangHoa);
                       
                    },
                    error: function() {
                        alert("Error occured!!");
                    }
                });
            });
        });
    });
</script>*@