@model IEnumerable<WebApplication1.Models.ViewThongKe>

@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<h2 style="margin-top: 50px;text-align: center">Thống kê </h2>


<table style="margin-top: 70px" class="table table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLanMua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tongTien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLanMua)
        </td>
        <td>
            @String.Format("{0:0,0}", item.tongTien)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
