@model List<WebApplication1.Models.HangHoa>
@{
    ViewBag.Title = "LaySPTheoLoai";
    Layout = "~/Views/Shared/_LayoutSanPham.cshtml";
}



<div class="row">
    @foreach (var sp in Model)
            {
        <div class="col-md-4 col-lg-4">
            <section style="margin-top:10px;background-color:rgba(139, 168, 211, 0.151)" class="panel">
                <div class="pro-img-box">
                    <img style="width:310px ;height:220px ;" src="/ImgSanpham/@sp.AnhSanPham" alt="" />@*style="width:250px;height:220px"*@
                    <a href="@Url.Action("Themvaogio","GioHang",new {@masp= @sp.MaHangHoa,@url=Request.Url.ToString() })" class="adtocart">
                        <i data-id="@sp.MaHangHoa" class="fa fa-shopping-cart"></i>
                        @*<i class="fa-solid fa-cart-arrow-down"></i>*@
                    </a>
                </div>

                <div class="panel-body text-center">
                    <h4>
                        <a style="text-decoration: none !important" href="#" class="pro-title">
                            @sp.TenHangHoa
                        </a>
                    </h4>
                    <p class="price">@String.Format("{0:0,0}", @sp.GiaBan)  VND</p> @*@((@sp.GiaBan) / 1)*@
                </div>
            </section>
        </div>


    }

</div>

